.footer {
    text-align: center;
    line-height: 30px;
    margin: 1% auto;
}

.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer a:hover {
    color: rgb(151, 151, 151);
    text-decoration: underline;
}