* {
    box-sizing: border-box;
}

.hike-item {
    width: 350px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #aaa;
    background-color: white;
    transition: opacity 300ms ease-out;
    margin: 0 auto 1px auto;
}

.hike-item img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.hike-name {
    display: flex;
    justify-content: center;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-family: 'Calistoga', cursive;
}

summary {
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(151, 151, 151);
}

.favorite-heart {
    cursor: pointer;
    user-select: none;
    border: 0;
    outline: 0;
    background: none;
    font-size: 3em;
    color: #ccc;
    font-weight: bolder;
}

.favorite-heart.is-favorite {
    color: rgb(185, 70, 70);
}

.info-button {
    cursor: pointer;
    user-select: none;
    border: 0;
    outline: 0;
    background: none;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.info-button:hover {
    color: #ccc;
}

.fav-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fade {
    opacity: 0;
}